.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.basic-option {
  font-family: 'Lato';
  margin: 0 auto;
  width: 1100px;
}

.inner {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1100px;
}

/* header */

.header {
  background-color: #fff;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.is-fixed {
  position: fixed;
  z-index: 1;
}

.header__icon-bolt {
  color: #4e4e4e;
  float: left;
  font-size: 2.6em;
}

.header__contact-box {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  /* margin-right: 100px; */
  padding: 14px 12px;
  text-decoration: none;
  transition: 0.3s;
}

a:hover.header__contact-box {
  color: #333;
}
/* main */

/* main__theme */
.theme {
  background-color: #f2f2f2;
  height: 640px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.theme__main {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

.theme__sub {
  color: #c0c0c0;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

/* main__caption */
.caption {
  padding: 50px 25px 0 75px;
  background-color: #74cfae;
}

.caption__iphone-img {
  float: left;
  margin: 0 100px;
}

.caption__wwcd__title {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.theme-text {
  font-family: 'Raleway';
}

.caption__wwcd__sentence {
  color: #fff;
  font-size: 20px;
  padding-top: 35px;
  text-align: center;
}

/* main__photos */
.photos {
  background-color: #f2f2f2;
  padding: 60px 0 70px;
}

.photos__title {
  color: #333;
  font-size: 24px;
  text-align: center;
}

.photos__main {
  display: flex;
  flex: initial;
  flex-wrap: wrap;
  padding: 40px 0 90px;
}

.photos__main img {
  opacity: 0.7;
  transition: 0.3s;
}

a:hover.photos__main__triangle img {
  opacity: 1;
}

a:hover.photos__main__giant img {
  opacity: 1;
}

a:hover.photos__main__infinite img {
  opacity: 1;
}

a:hover.photos__main__icons img {
  opacity: 1;
}

a:hover.photos__main__earth img {
  opacity: 1;
}

a:hover.photos__main__robot img {
  opacity: 1;
}

.photos div .photos__main :nth-child(n+4) {
  padding-top: 80px;
}

.photos div .photos__main :nth-child(3n-1) {
  margin: 0 100px;
}

.photos__description {
  padding: 0 150px 0 90px; 
}

.photos__email-send-box {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
}

a:hover.photos__email-send-box {
  color: #333;
}

.photos__sentence {
  color: #333;
  text-align: center;
}

/* main__description */
.description {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.description__title {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.description__main {
  display: flex;
}

.description__main__content {
  margin-right: 180px;
}

.description__main__content:first-child {
  margin-left: 35px;
}

.description__main  img {
  display: block;
}

.description__main  p {
  color: #fff;
  font-size: 16px;
  padding-top: 20px;
  text-align: center;
}

/* main__sns */
.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns__icon {
  box-sizing: border-box;
  color: #74cfae;
  font-size: 2.6em;
  margin-left: 20px;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
  width: 185px;
}

.sns__icon:first-child {
  margin-left: 70px;
}

a:hover.sns__fb i {
  background-color: #fff;
}

a:hover.sns__bb i {
  background-color: #fff;
}

a:hover.sns__tw i {
  background-color: #fff;
}

a:hover.sns__en i {
  background-color: #fff;
}

/* footer */

.footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__co {
  color: #fff;
  text-align: end;
}